{% load static %}
{% for profile in profiles %}
<div class="profileListProfile">
  <div class="profileListProfile__header">
    <a
      href="{% url 'user-profile' profile.user.id %}"
      class="profileListProfile__author"
    >
      <div class="avatar avatar--small">
        <img src="{% static profile.picture.url %}" />
      </div>
      <span>{{profile.name}} @{{profile.user.username}}</span>
    </a>
  </div>
  <div class="profileListProfile__content">
    <div class="circular-progress-wrapper">
      <div class="circular-progress" id="attendance">
        <span class="value-wrapper">
          <span class="progress-value" id="attendance"
            >{{profile.current_attendances}}</span
          >
          <span class="max-value" id="attendance"></span>
        </span>
      </div>
      <span class="progress-label">Attendances</span>
    </div>
    <div class="circular-progress-wrapper">
      <div class="circular-progress" id="tournament">
        <span class="value-wrapper">
          <span class="progress-value" id="tournament"
            >{{profile.current_tournaments}}</span
          >
          <span class="max-value" id="tournament"></span>
        </span>
      </div>
      <span class="progress-label">Tournaments</span>
    </div>
    {% if 'Black' in profile.rank %}
    <div class="circular-progress-wrapper">
      <div class="circular-progress" id="hours">
        <span class="value-wrapper">
          <span class="progress-value" id="hours"
            >{{profile.current_leadership_hours}}</span
          >
          <span class="max-value" id="hours"></span>
        </span>
      </div>
      <span class="progress-label">Leadership Hours</span>
    </div>
    {% endif %}
    <div class="circular-progress-wrapper">
      <div class="circular-progress" id="practical">
        <span class="value-wrapper">
          <span class="progress-value" id="practical"
            >{{profile.current_practical_score}}</span
          >
          <span class="max-value" id="practical"></span>
        </span>
      </div>
      <span class="progress-label">Practical Score</span>
    </div>
  </div>
</div>
{% endfor %}
