{% extends 'main.html' %} {% block content%}

<main class="profile-page layout layout--3">
  <div class="container">
    {% include 'base/side_nav.html' %}

    <!-- Room List Start -->
    <div class="roomList">
      <div class="profile">
        <div class="profile__avatar">
          <div class="avatar avatar--large active">
            <img src="{{user.profile.picture.url}}" />
          </div>
        </div>
        <div class="profile__info">
          <h3>{{user.profile.name}}</h3>
          <p>@{{user.username}}</p>
          <p>Rank: {{user.profile.rank}}</p>
          {% if request.user == user %}
          <a href="{% url 'update-user' %}" class="btn btn--main btn--pill"
            >Edit Profile</a
          >
          {% endif %}
        </div>
        <div class="profile__about">
          <h3>About</h3>
          <p>{{user.profile.about}}</p>
        </div>
      </div>
      <div>
        <h1>Current Progress</h1>
      </div>
      {% include 'base/stats_feed.html' %}
      <div>
        <h1>Attendances</h1>
      </div>
      {% include 'base/attendance_feed.html' %}
    </div>
    <!-- Room List End -->

    <!-- Activities Start -->
    {% include 'base/activity_component.html' %}
    <!-- Activities End -->
  </div>
</main>
{% endblock content %}
