{% extends 'main.html' %} {% block content%}

<main class="create-stats layout">
  <div class="container">
    <div class="layout__box">
      <div class="layout__boxHeader">
        <div class="layout__boxTitle">
          <a href="{% url 'user-profile' id %}">
            <svg
              version="1.1"
              xmlns="http://www.w3.org/2000/svg"
              width="32"
              height="32"
              viewBox="0 0 32 32"
            >
              <title>arrow-left</title>
              <path
                d="M13.723 2.286l-13.723 13.714 13.719 13.714 1.616-1.611-10.96-10.96h27.625v-2.286h-27.625l10.965-10.965-1.616-1.607z"
              ></path>
            </svg>
          </a>
          {% if 'attendance' in request.path %}
          <h3>{{create_update}} Attendance</h3>
          {% endif %}
          {% if 'tournament' in request.path %}
          <h3>{{create_update}} Tournament</h3>
          {% endif %}
          {% if 'leadership-hours' in request.path %}
          <h3>{{create_update}} Leadership Hours</h3>
          {% endif %}
          {% if 'practical-score' in request.path %}
          <h3>{{create_update}} Practical Score</h3>
          {% endif %}
        </div>
      </div>
      <div class="layout__body">
        <form class="form" action="" method="POST">
          {% csrf_token %}

          <input
            type="hidden"
            name="next"
            value="{% url 'user-profile' id %}"
          />

          {% for field in form %}
          {% if field.label == 'Profile' and request.user.is_superuser %}
          <div class="form__group">
            <label for="{{field.label}}">{{field.label}}</label>
            {{field}}
          </div>
          {% elif field.label != 'Profile' %}
          <div class="form__group">
            <label for="{{field.label}}">{{field.label}}</label>
            {{field}}
          </div>
          {% endif %}
          {% endfor %}

          <div class="form__action">
            <a class="btn btn--dark" href="{% url 'user-profile' id %}"
              >Cancel</a
            >
            {% if 'attendance' in request.path %}
            <button class="btn btn--main" type="submit">{{create_update}} Attendance</button>
            {% endif %}
            {% if 'tournament' in request.path %}
            <button class="btn btn--main" type="submit">{{create_update}} Tournament</button>
            {% endif %}
            {% if 'leadership-hours' in request.path %}
            <button class="btn btn--main" type="submit">{{create_update}} Hours</button>
            {% endif %}
            {% if 'practical-score' in request.path %}
            <button class="btn btn--main" type="submit">{{create_update}} Score</button>
            {% endif %}
          </div>
        </form>
      </div>
    </div>
  </div>
</main>
{% endblock content%}
