{% for profile in profiles %}
<div class="profileListProfile">
  <div class="ListProfile__header">
    <a
      href="{% url 'user-profile' profile.user.id %}"
      class="profileListProfile__author"
    >
      <div class="avatar avatar--small">
        <img src="{{profile.picture.url}}" />
      </div>
      <span>{{profile.name}} @{{profile.user.username}}</span>
    </a>
  </div>
  <div class="profileListProfile__content">
    <div class="progress-wrapper">
      <div class="circular-progress" id="attendance">
        <span class="progress-value" id="attendance"
          >{{profile.current_attendances}}</span
        >
      </div>
      <span>Attendances</span>
    </div>
    <div class="progress-wrapper">
      <div class="circular-progress" id="tournament">
        <span class="progress-value" id="tournament"
          >{{profile.current_tournaments}}</span
        >
      </div>
      <span>Tournaments</span>
    </div>
    {% if 'Black' in profile.rank %}
    <div class="progress-wrapper">
      <div class="circular-progress" id="hours">
        <span class="progress-value" id="hours">{{profile.current_hours}}</span>
      </div>
      <span>Leadership Hours</span>
    </div>
    {% endif %}
    <div class="progress-wrapper">
      <div class="circular-progress" id="practical">
        <span class="progress-value" id="practical"
          >{{profile.current_score}}</span
        >
      </div>
      <span>Practical Score</span>
    </div>
  </div>
</div>
{% endfor %}
